*{
  box-sizing: border-box;
}

.body{
  font-family: "Open Sans", "Arial", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #444;
}

.container{
  width: 100%;
  max-width: 1160px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}

.site-header{
  display: block;
  padding-top: 25px;
  padding-bottom: 24px;

}

.site-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav{
  /* Auto layout */
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  font-weight: bold;
  margin: 32px;
  color: #222;

}

.site-nav li{
  margin-right: 32px;
}

.sitenav-link{
  text-decoration: none;
  color: #222;
  text-decoration: blanchedalmond;
  list-style: none;
  display: block;
  transition: color 0.6s ease;
}

.sitenav-link:hover{
  color: #DE2E54;
}
.sitenav-link:active{
  opacity: 0.6;
}

.button{
  font-family: "Open Sans", "Arial", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  width: 189px;
  height: 47px;
  padding: 0;
  margin: 0;
  background: #DE2E54;
  border: 2px solid #DE2E54;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: color 0.4s ease, background-color 0.4s ease;
}

.button:hover{
  background-color: #fff;
  color: #DE2E54;
}

.button:active{
  opacity: 0.6;
  background-color: #DE2E54;
  color: #fff;
}

.hero{
  background: #0EB4C1;
  border: 1px solid #000000;
  margin-bottom: 120px;

}

.hero-center{
  display: flex;
  justify-content: space-between;
}

.img-doktor{
  margin-right: 170px;
  margin-left: 176px;
  margin-top: 24.34px;
}

.hero-text0{
  margin-top: 112.34px;
  margin-left: 170px;
  margin-bottom: 127.66px;
  color: #fff;
}

.button2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  width: 189px;
  height: 47px;
  left: 170px;
  top: 464px;
  text-decoration: none;
  background: #DE2E54;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
  transition: background-color 0.4s ease;
}


.button2:hover{
  background-color: rgba(222, 46, 84, 0.8);
}


.services h2{
  text-align: center;
  font-size: 36px;
  line-height: 1.2;
  font-weight: bold;
}

.hijoma{
  display: flex;
  margin-bottom: 80px;
}

.hijoma h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}

.hijoma-01{
  margin-left: 64px;
  width: 600px;
  height: 149px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.hijoma-01 a{
  text-decoration: none;
  color: #222;
}

.manual-terapiya{
  display: flex;
  margin-bottom: 80px;
}
.manual-terapiya01{
  margin-left: 64px;
  width: 600px;
  height: 149px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.manual-terapiya01 a{
  text-decoration: none;
  color: #222;
  font-size: 20px;
}
.zuluk{
  display: flex;
  margin-bottom: 80px;
}
.zuluk01{
  margin-left: 64px;
  width: 600px;
  height: 149px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.zuluk01 a{
  text-decoration: none;
  color: #222;
  font-size: 18px;
}
.tabiiy-dori{
  display: flex;
}
.tabiiy-dori01{
  margin-left: 64px;
  width: 600px;
  height: 149px;
  font-size: 16px;
  line-height: 1.5;
}

.tabiiy-dori01 a{
  text-decoration: none;
  color: #222;
  font-size: 18px;
}
.button0{
  font-family: "Open Sans", "Arial", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  width: 189px;
  height: 47px;
  padding: 0;
  margin-left: 470px;
  margin-bottom: 120px;
  background: #DE2E54;
  border: 2px solid #DE2E54;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: color 0.4s ease, background-color 0.4s ease;
}

.button0:hover{
  background-color: #fff;
  color: #DE2E54;
}

.button0:active{
  opacity: 0.6;
  background-color: #DE2E54;
  color: #fff;
}

.social{
  background-color: #0EB4C1;
  height: 253px;
  padding: 64px 96px;
}
.social-media{
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  list-style: none;
  padding: 0;
}
.social-media a{
  text-decoration: none;
}
.social-media li{
  margin-right: 40px;
}
.media-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 214px;
  height: 42px;
  left: 731px;
  top: 2264px;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  transition: background-color 0.4s ease;
}

.media-link:hover{
  background-color: #DE2E54;
  border: 0;
}
.media-link:active{
  opacity: 0.6;
}

.media-link a{
  padding: 12px 24px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
}
.social h2{
  justify-content: center;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
  color: #fff;
}

.footer{
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.logo01{
  font-family: "OpenSans", "Arial",sans-serif;
  display: flex;
  text-align: center;
  color: #fff;
  align-items: center;
}
.logo01 h2{
  margin-left: 16px;
}
.site-nav0{
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
  font-weight: bold;
  color: #222;
  padding: 0;
}
.site-nav0 li{
  text-decoration: none;
  color: #222;
  text-decoration: blanchedalmond;
  list-style: none;
  display: block;
  transition: color 0.6s ease;
  margin-right: 32px;
}
.site-nav0-link a{
  color: #fff;
  text-decoration: none;
  transition: color 0.4s ease;
}
.site-nav0 a:hover{
  color: #DE2E54;
}
.site-nav0-link a:active{
  opacity: 0.6;
  color: #fff;
}
.footer01{
  background-color: #222;
  padding: 24px;
}
